# GitIgnore file
SampleApplication/.idea/encodings.xml
SampleApplication/.idea/misc.xml
SampleApplication/.idea/modules.xml
SampleApplication/.idea/workspace.xml
SampleApplication/SampleApplication.iml
SampleApplication/.idea/vcs.xml
SampleApplication/.idea/
SampleApplication/out/
FileIO/.idea/
FileIO/FileIO.iml
FileIO/out/
FileIO/src/ObjectExample.java
FileIO/src/sc.ser
FileIO/src/sc.txt
